.add-block {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
}
.add-block input {
  margin: 15px 0;
  text-align: center;
  height: 25px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 255, 255, 0.759);
  font-size: 20px;
  color: white;
  box-shadow: 4px 4px 91px 0px rgba(34, 60, 80, 0.57);
}

.add-block input:focus {
  background-color: rgba(0, 255, 255, 0.375);
  box-shadow: 4px 4px 91px 0px rgba(34, 60, 80, 0.171);
}

.add-block button {
  border-radius: 20px;
  background-color: rgb(71, 71, 243);
  height: 45px;
  border: none;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.add-block button:hover {
  transform: scale(1.02);
}
